.overall {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}

.line {
  height: 58px;
  border-left: 0.6px solid #747171;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  font-family: "Inter";
}

.container .logo{
  cursor: pointer;
}

.links {
  flex: .4;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.links li {
  list-style: none;
  color: #747171;
  font-family: "Inter";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.links li img {
  margin-left: 6px;
}

.humbuger {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 30px;
  align-self: center;
  justify-content: center;
}

.humbuger div {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  cursor: pointer;
}

.humbuger div:nth-child(2) {
  margin-bottom: 0;
  width: 60%;
}

.button{
  flex: .5;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.eth__address{
  background: #fff;
  color: #8016EB;
  padding: 0px 15px 0px 0;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  align-self: center;
}

.eth__address img{
  border-radius: 999px;
  height: 45px;
}

.auth__section{
  display: flex;
  justify-content: space-between;
  flex: .3;
}

.eth__address p{
  margin: 0;
  margin-left: 7px;
}

@media (max-width: 1200px) {
  .links {
    width: 60%;
  }

  .auth__section{
    flex: .4;
  }
}

@media (max-width: 1024px) {
  .button{
    display: unset;
    flex: 1;
  }
}

@media (max-width: 992px) {
  .container {
    width: 95%;
  }

  .links {
    width: 73%;
    flex: .48;
  }

  .line {
    display: none;
  }

  .links {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .button {
    display: none;
  }

  .humbuger {
    display: flex;
  }

  .auth__section{
    display: none;
  }
}
