.primary__button{
    width: fit-content;
    padding: 20px 26px;
    background-color: #8016EB;
    color: #fff;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.secondary__button{
    width: fit-content;
    padding: 20px 26px;
    background-color: #fff;
    color: #8016EB;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    border: 1px solid rgba(128, 22, 235, .2);
}

.animation__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 100;
}