.container {
  padding: 60px 35px;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
}

.container h1 {
  color: #1a171b;
}

.header__timeline{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 28px;
}

.purchase__block {
  background: #fff;
  box-shadow: -2px 0px 23px 33px rgba(0, 0, 0, 0.02);
  border-radius: 14px;
  padding: 42px 92px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.surround {
  display: flex;
  justify-content: space-between;
}

.input__area{
    margin-top: 50px;
}

.input__area h3{
    color: #1a171b;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}

.purchase__block textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 685px;
  height: 114px;
  font-size: 20px;
  padding: 10px;
}

.metrics{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
}

.metrics span{
    margin-left: 85px;
}


.price{
    display: flex;
    align-items: flex-end;
}

.price h1{
    margin: 0;
}

.price p{
    color: #747171;
    font-size: 20px;
    font-weight: 400;
    margin-left: 18px;
}

.button__link{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.button__link button{
    width: 48%;
    display: flex;
    justify-content: center;
    border: none;
    background: #6C63FF;
    box-shadow: -1.93862px 0px 22.2941px 31.9872px rgba(0, 0, 0, 0.02);
    color: #fff;
    border-radius: 18px;
    padding: 8px 0;
    cursor: pointer;
}

.button__link img{
    width: 48px;
    height: 48px;
}

.button__link p{
    margin: 0;
    align-self: center;
    color: #fff;
    margin-left: 8px;
    font-size: 32px;
}

.button__link img{
    width: 101;
    height: 101;
    margin-right: 18px;
}


@media(max-width:992px){
    .purchase__block textarea{
        width: 90%;
    }

    .purchase__block{
        padding: 42px 42px;
    }

    .surround{
        flex-direction: column;
    }

    .purchase__block textarea {
        align-self: center  ;
    }

    .price h1{
        margin-top: 30px;
    }

    .price p{
        margin: 0;
        font-size: 14px;
    }
}

@media(max-width:768px){
    .button__link img{
        width: 30%;
    }

    .button__link h1{
        font-size: 32px;
        margin: 0;
    }

    .container{
        padding: 60px 15px;
    }
}


@media(max-width:576px){
    .button__link button{
        padding: 28px 20px;
    }

    .container h1{
        width: 100%;
    }

    .button__link img{
        align-self: center;
    }
}

@media(max-width:411px){
    .button__link button{
        padding: 10px;
    }

    .button__link h1{
        font-size: 24px;
        margin: 0;
    }
}